## Deliverable 3. Create a Travel Itinerary Map.

In [61]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [63]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Alghero,IT,66.29,clear sky,40.5589,8.3181,Smy Carlos V Alghero
1,9,Yellowknife,CA,64.09,broken clouds,62.4560,-114.3525,The Explorer Hotel
2,20,Castro,BR,61.21,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
3,21,Jamestown,US,63.99,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,26,Busselton,AU,59.36,overcast clouds,-33.6500,115.3333,Observatory Guest House

In [64]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [65]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [90]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Saldanha"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Saldanha"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Cape Town"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Port Elizabeth"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "East London"]

In [91]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [93]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
south_africa_itinerary = gmaps.directions_layer(start,end,waypoints=[stop1, stop2, stop3],travel_mode='DRIVING')
fig.add_layer(south_africa_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [96]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,115,Saldanha,ZA,57.65,clear sky,-33.0117,17.9442,Blue Bay Lodge
1,154,Cape Town,ZA,59.38,fog,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
2,42,Port Elizabeth,ZA,56.32,overcast clouds,-33.9180,25.5701,39 On Nile Guest House
3,146,East London,ZA,58.05,broken clouds,-33.0153,27.9116,Tu Casa

In [97]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [98]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))